table {
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    margin-top: 30px;
}

tr, td {
    border: 1px solid black;
    padding: 20px;
}

tr:first-child {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: center;
}

#buttons {
    display: flex;
    flex: column;
    gap: 20px;
    margin-top: 10px;
}

button {
    padding: 20px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 20px;
}