table {
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    margin-top: 30px;
}

tr, td {
    border: 1px solid black;
    padding: 20px;
}

tr:first-child {
    background-color: #f2f2f2;
    font-weight: bold;
}